<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464548587021-129g1t3crmf4sr4akk4sq8gv1plt711f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464548587021-129g1t3crmf4sr4akk4sq8gv1plt711f</string>
	<key>API_KEY</key>
	<string>AIzaSyDgRkZHhXxWKaoG48pgtZHreFm9vC7RyTA</string>
	<key>GCM_SENDER_ID</key>
	<string>464548587021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>bongchat-88633</string>
	<key>STORAGE_BUCKET</key>
	<string>bongchat-88633.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464548587021:ios:a74c58a9ad7cefa93a1744</string>
</dict>
</plist>